<%- include("partials/header") %>

<div style="margin-left: 25px;">
  <h1>Sign Up!</h1>
  <form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button class="btn btn-primary">Sign Up</button>
  </form>
</div>

<%- include("partials/footer") %>
